.checker {
    width: 90px;
    height: 90px;
    border: 5px solid;
    border-radius: 45px;
    cursor: pointer;
    outline: none;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checker.white {
    background: lavender;
    border:  5px solid thistle;
}

.checker.black{
    background: slateblue;
    border:  5px solid darkslateblue;
}